/***************** IMPORTS *******************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/***************** VARIABLES *******************/
:root {
	/* Colors */
	--black-color-00: #000;
	--black-color-10: #111010;
	--gray-color-30: #999;
	--gray-color-40: #aaa;
	--primary-color: #2f2bad;
	--secondary-color: #ad2bad;
	--button-hover-color: #e42692;
	--button-color: #f71568;
	--white-color-00: #fff;
	--white-color-10: #eaeaea;

	/* Linear Gradient */
	--film-lg: linear-gradient(to top, rgba(0, 0, 0, 0.98), rgba(0, 0, 0, 0.45));

	/* Font Family */
	--main-ff: 'Bebas Neue', serif;
	--text-ff: 'Poppins', serif;

	/* Font Weight */
	--light-fw: 300;
	--normal-fw: 400;
	--medium-fw: 500;
	--semibold-fw: 600;
	--bold-fw: 700;

	/* Font Size */
	--sm-fs: 0.875rem;
	--base-fs: 0.975rem;
	--lg-fs: 1.125rem;
	--xl-fs: 1.5rem;
	--xxl-fs: 1.85rem;
	--xxxl-fs: 2.75rem;

	/* Border Radius */
	--light-radius: 0.325rem;
	--normal-radius: 0.575rem;
	--medium-radius: 0.735rem;
	--circle-radius: 50%;

	/* Width */
	--container-mw: 1280px;

	/* Padding */
	--container-pi: 0.785rem;
	--section-pb: 3.75rem;

	/* Transitions */
	--link-tr: 0.35s ease-in-out;
	--button-tr: 0.436s ease-in-out;
	--image-tr: 0.567s ease-out;

	/* Time */
	--banner-animation-time: 5s;
	--banner-text-animation-time: 2s;

	/* Drop Shadow */
	--white-ds: drop-shadow(1px 1px 25px rgba(255, 255, 255, 0.09));
}

/***************** BASE *******************/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	scroll-behavior: smooth;
}

body {
	background-color: var(--black-color-00);
	color: var(--white-color-10);
	font-family: var(--text-ff);
	font-size: var(--base-fs);
	font-weight: var(--normal-fw);
}

:is(h1, h2, h3, h4, h5, h6) {
	font-family: var(--main-ff);
	font-weight: var(--normal-fw);
}

:is(h1, h2) {
	font-size: var(--xxxl-fs);
}

:is(h3, h4) {
	font-size: var(--xl-fs);
}

:is(h5, h6) {
	font-size: var(--lg-fs);
}

button,
input,
textarea,
select {
	background-color: transparent;
	border: none;
	outline: none;
}

input::placeholder,
textarea::placeholder {
	color: inherit;
	font-weight: var(--light-fw);
	font-size: var(--base-fs);
}

button,
select {
	cursor: pointer;
	transition: var(--button-tr);
}

a {
	transition: var(--link-tr);
	text-decoration: none;
	color: var(--black-color-00);
}

ul {
	display: flex;
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
}

/***************** REUSABLE *******************/
.container {
	max-width: var(--container-mw);
	padding-inline: var(--container-pi);
	margin: 0 auto;
}

.section {
	padding-block: var(--section-pb);
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo {
	display: flex;
	align-items: center;
}

.logo-image {
	height: 40px;
	margin-right: 0.35rem;
	margin-bottom: 0.18rem;
}

.logo-text {
	font-family: var(--main-ff);
	font-size: var(--xl-fs);
}

*.show {
	display: flex;
}

*.hidden {
	display: none;
}

.btn {
	width: fit-content;
	padding: 0.65rem 1.95rem;
	border-radius: var(--light-radius);
	text-transform: capitalize;
	font-size: var(--sm-fs);
	font-weight: var(--medium-fw);
}

.section-header {
	margin-bottom: 3.75rem;
}

.section-title {
	text-align: center;
}

/***************** HOME *******************/
/***************** NAVBAR *******************/
#navbar {
	background-color: transparent;
	position: absolute;
	min-height: 80px;
	width: 100%;
	z-index: 100;
}

.navbar-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	flex-wrap: wrap;
	padding-block: 0.55rem;
	margin-top: 0.65rem;

	border-radius: var(--light-radius);
	transition: background-color 0.5s ease;
}

.navbar-content.change-color {
	background-image: var(--film-lg);
}

.navbar-logo .logo-text {
	color: var(--white-color-00);
}

#toggle-menu {
	color: var(--white-color-10);
	font-size: var(--xl-fs);
}

#toggle-menu i {
	pointer-events: none;
}

#toggle-menu:hover {
	color: var(--white-color-00);
	transform: scale(1.15);
}

.navbar-menu {
	gap: 1.25rem;
	flex: 100%;
	align-items: flex-end;
	flex-direction: column;
	margin-top: 20px;
}

.navbar-link {
	color: var(--white-color-10);
	font-weight: var(--medium-fw);
	font-size: var(--base-fs);
}

.navbar-link:hover {
	color: var(--white-color-00);
}
/************** End of NAVBAR ***************/

/***************** BANNER *******************/
#banner {
	height: calc(100vh);
	width: 100vw;
	position: relative;
}

.banner-content,
.banner-item,
.banner-item::after {
	height: 100%;
	width: 100%;
}

.banner-item {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.banner-item::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background-image: var(--film-lg);
	z-index: 10;
}

.banner-item.fade-banner {
	animation: var(--banner-animation-time) ease-in-out 1 normal forwards
		fade__banner;
}

.banner-image {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	z-index: 0;
}

.banner-text {
	position: absolute;
	z-index: 20;
	transform: translate(-50%, -50%);
	--final-bottom-position: 3.75rem;
	bottom: var(--final-bottom-position);
	opacity: 1;
	left: 50%;
	background-image: var(--film-lg);
	padding: 2.35rem 3.75rem;
	padding: 0.75rem 0.95rem;
	max-width: fit-content;
	border-radius: var(--light-radius);
	display: flex;
	flex-direction: column;
	gap: 0.65rem;
	max-width: 675px;
}

.banner-text.fade-banner-text {
	animation: var(--banner-text-animation-time) ease-in-out 1 normal forwards
		fade__banner__text;
}

.banner-title,
.banner-subtitle {
	color: var(--white-color-00);
	text-align: center;
}

.banner-title {
	font-size: var(--xxxl-fs);
}

.banner-subtitle {
	font-size: var(--lg-fs);
	text-transform: uppercase;
	font-weight: var(--medium-fw);
}

.banner-btn {
	background-color: var(--white-color-10);
	opacity: 0.65;
	width: 100%;
	text-align: center;
}

.banner-btn:hover {
	background-color: var(--white-color-00);
	opacity: 1;
}

@keyframes fade__banner {
	0% {
		opacity: 0;
	}

	15% {
		opacity: 1;
	}

	75% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes fade__banner__text {
	0% {
		opacity: 0;
		bottom: -2.25rem;
	}

	100% {
		bottom: var(--final-bottom-position);
		opacity: 1;
	}
}
/************** End of BANNER ***************/
/************** End of HOME ***************/

/***************** ABOUT *******************/
.about-items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1.35rem;
	row-gap: calc(3.5rem);
}

.about-item {
	background-color: var(--white-color-10);
	position: relative;
	border-radius: var(--light-radius);
	padding: 1.55rem 1.35rem;
	filter: var(--white-ds);
	cursor: pointer;
	transition: transform 0.35s ease-in-out;
}

.about-item:hover {
	transform: scale(1.015);
}

.about-image {
	position: absolute;
	height: 90px;
	width: 90px;
	background-color: var(--white-color-10);
	border-radius: var(--circle-radius);
	right: 2rem;
	top: -2.5rem;
	filter: drop-shadow(1px 1px 25px rgba(0, 0, 0, 0.05));
}

.about-image img {
	height: 75%;
}

.about-content {
	color: var(--black-color-00);
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

.about-title {
	position: relative;
}

.about-title::after {
	content: '';
	height: 4px;
	background-color: var(--black-color-00);
	width: 0;
	position: absolute;
	left: 0;
	bottom: -0.25rem;
	transition: width 0.36s ease-in-out;
}

.about-item:hover .about-title::after {
	width: 100%;
}
/************** End of ABOUT ***************/

/***************** FEATURES *******************/
.features-items {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 1.5rem;
	row-gap: 1.75rem;
}

.feature-item {
	background-color: var(--black-color-10);
	padding: 1.15rem 1.35rem;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 1.25rem;
	filter: var(--white-ds);
	border-top-left-radius: 35px;
	border-top-right-radius: var(--light-radius);
	border-bottom-right-radius: 35px;
	border-bottom-left-radius: var(--light-radius);
	transition: 0.35s ease-in-out;
	cursor: pointer;
}

.feature-item:hover {
	border-top-right-radius: 35px;
	border-top-left-radius: var(--light-radius);
	border-bottom-left-radius: 35px;
	border-bottom-right-radius: var(--light-radius);
	transform: scale(1.02);
}

.feature-icon {
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--black-color-10);
	height: 70px;
	width: 70px;
	border-radius: var(--circle-radius);
	font-size: var(--xxl-fs);
	color: var(--white-color-00);
}

.feature-title,
.feature-description {
	text-align: justify;
}

.feature-description {
	font-weight: var(--light-fw);
	color: var(--gray-color-30);
}
/************** End of FEATURES ***************/

/***************** BENEFITS *******************/
#benefits {
	background-image: url('../img/banners/squat.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	position: relative;
	z-index: 0;
}

#benefits::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	background-image: var(--film-lg);
	width: 100%;
	height: 100%;
	z-index: 10;
}

.banefits-content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 1.75rem;
}

.benefits-left,
.benefits-right,
.benefits-list,
.benefit-content {
	position: relative;
	display: flex;
	z-index: 20;
}

.benefits-left {
	justify-content: center;
	filter: var(--white-ds);
}

.benefits-left img {
	height: 450px;
}

.benefit-list {
	flex-direction: column;
	gap: 1.75rem;
}

.benefit-item {
	display: flex;
	align-items: flex-start;
	gap: 1.25rem;
}

.benefit-icon i {
	font-size: var(--xxxl-fs);
	color: var(--primary-color);
	filter: var(--white-ds);
}

.benefit-content {
	flex-direction: column;
	gap: 0.65rem;
}

.benefit-name {
	font-size: var(--xxl-fs);
}

.benefit-description {
	font-size: var(--base-fs);
	font-weight: var(--light-fw);
}
/************** End of BENEFITS ***************/

/***************** TESTIMONIALS *******************/
#testimonials {
	overflow-x: hidden;
}

.testimonial-items {
	display: flex;
	gap: 50px;
	justify-content: center;
	align-items: center;
	position: relative;
	transform: translateX(calc(-100% + 200px));
}

.testimonial-items,
.testimonial-item {
	transition: transform 0.67s ease-in-out;
}

.testimonial-item,
.testimonial-image {
	filter: var(--white-ds);
}

.testimonial-item {
	min-width: 31%;
	width: 31%;
	position: relative;
	background-color: var(--black-color-10);
	padding: 1.15rem 0.85rem 1.15rem 50px;
	opacity: 0;
	border-radius: var(--light-radius);
}

.testimonial-item.less-highlight {
	opacity: 0.35;
}

.testimonial-item.highlight {
	transform: scale(1.15);
	z-index: 10;
	opacity: 1;
}

.testimonial-image {
	position: absolute;
	height: 80px;
	width: 80px;
	border-radius: var(--circle-radius);
	border: 4px solid var(--black-color-10);
	left: -40px;
	top: 50%;
	transform: translateY(-50%);
}

.testimonial-content {
	display: flex;
	flex-direction: column;
	gap: 0.85rem;
}

.testimonial-text {
	font-size: var(--base-fs);
	font-weight: var(--light-fw);
	color: var(--gray-color-10);
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
	line-clamp: 4;
	text-overflow: ellipsis;
	overflow: hidden;
}

.testimonial-username {
	color: var(--secondary-color);
	font-weight: var(--bold-fw);
	font-size: var(--sm-fs);
}
/************** End of TESTIMONIALS ***************/

/***************** CONTACT *******************/
.contact-content {
	background-color: var(--black-color-10);
	padding: 1.85rem 2.85rem;
	filter: var(--white-ds);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.85rem;
}

.contact-content,
.contact-form {
	display: flex;
	border-radius: var(--normal-radius);
}

.contact-title {
	font-size: var(--xxxl-fs);
}

.contact-subtitle {
	font-size: var(--lg-fs);
	text-transform: capitalize;
}

.contact-form {
	background-color: var(--white-color-10);
	width: 100%;
	overflow: hidden;
	filter: var(--white-ds);
	margin: 0;
}

.contact-form input {
	flex: 80%;
	padding: 0.85rem;
}

.contact-btn {
	background-image: linear-gradient(
		-27deg,
		var(--primary-color),
		var(--secondary-color)
	);
	flex: 20%;
	color: var(--white-color-00);
	font-weight: var(--medium-fw);
	text-transform: capitalize;
	font-size: var(--base-fs);
}

.contact-btn:hover {
	background-image: linear-gradient(
		27deg,
		var(--primary-color),
		var(--secondary-color)
	);
}
/************** End of CONTACT ***************/

/***************** FOOTER *******************/
#footer {
	background-color: var(--gray-color-30);
}

.footer-columns {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 2.75rem;
}

.footer-column {
	display: flex;
	flex-direction: column;
	gap: 0.65rem;
}

.footer-logo {
	margin-top: -0.65rem;
}

.footer-title {
	color: var(--secondary-color);
	font-size: var(--lg-fs);
}

.footer-description {
	font-weight: var(--bold-fw);
	text-align: justify;
	font-size: var(--base-fs);
}

.footer-list {
	flex-direction: column;
	gap: 0.35rem;
}

.footer-item i {
	color: var(--primary-color);
	font-size: var(--base-fs);
}

.footer-item span {
	font-weight: var(--medium-fw);
}
/************** End of FOOTER ***************/

/***************** CREDIT AREA *******************/
#credit-area {
	padding: 0.55rem 0;
}

.credit {
	font-size: var(--sm-fs);
}

.credit span,
.credit a {
	color: var(--secondary-color);
	font-weight: var(--bold-fw);
}
/************** End of CREDIT AREA ***************/

/***************** Responsiveness *******************/
@media screen and (max-width: 1280px) {
	/***************** HOME *******************/
	/***************** NAVBAR *******************/
	.navbar-content {
		margin-inline: var(--container-pi);
	}
	/************** End of NAVBAR ***************/

	/***************** BANNER *******************/
	.banner-text {
		max-width: unset;
		width: 60%;
	}
	/************** End of BANNER ***************/
	/************** End of HOME ***************/

	/***************** FEATURES *******************/
	.features-items {
		grid-template-columns: repeat(3, 1fr);
	}
	/************** End of FEATURES ***************/
}

@media screen and (max-width: 1024px) {
	/***************** HOME *******************/
	/***************** BANNER *******************/
	.banner-text {
		width: 70%;
	}
	/************** End of BANNER ***************/
	/************** End of HOME ***************/

	/***************** ABOUT *******************/
	.about-items {
		grid-template-columns: repeat(2, 1fr);
	}
	/************** End of ABOUT ***************/
}

@media screen and (max-width: 990px) {
	/***************** FEATURES *******************/
	.features-items {
		grid-template-columns: repeat(2, 1fr);
	}
	/************** End of FEATURES ***************/

	/***************** BENEFITS *******************/
	.benefits-left img {
		height: 100%;
	}
	/************** End of BENEFITS ***************/
}

@media screen and (max-width: 830px) {
	/***************** BENEFITS *******************/
	.banefits-content {
		grid-template-columns: 100%;
	}

	.benefits-left img {
		display: none;
	}
	/************** End of BENEFITS ***************/
}

@media screen and (max-width: 768px) {
	/***************** HOME *******************/
	/***************** BANNER *******************/
	.banner-text {
		width: 80%;
	}
	/************** End of BANNER ***************/
	/************** End of HOME ***************/
}

@media screen and (max-width: 680px) {
	/***************** ABOUT *******************/
	.about-items {
		grid-template-columns: 100%;
	}
	/************** End of ABOUT ***************/

	/***************** FEATURES *******************/
	.features-items {
		grid-template-columns: 100%;
	}
	/************** End of FEATURES ***************/
}

@media screen and (max-width: 640px) {
	/***************** BANNER *******************/
	.banner-text {
		width: 90%;
	}
	/************** End of BANNER ***************/
}

@media screen and (max-width: 576px) {
	/***************** HOME *******************/
	/***************** BANNER *******************/
	.banner-text {
		width: calc(100% - 2 * var(--container-pi));
		margin-left: calc(- var(--container-pi));
	}
	/************** End of BANNER ***************/
	/************** End of HOME ***************/

	/***************** BENEFITS *******************/
	.benefit-list {
		gap: 3.25rem;
	}

	.benefit-item {
		flex-direction: column;
		text-align: center;
	}

	.benefit-icon {
		width: fit-content;
		margin: 0 auto;
	}

	.benefit-icon i {
		font-size: var(--xxxl-fs);
		transform: scale(2.25);
	}
	/************** End of BENEFITS ***************/
}

@media screen and (max-width: 400px) {
	/***************** BENEFITS *******************/
	#benefits {
		min-height: 100vh;
		background-attachment: scroll;
	}
	/************** End of BENEFITS ***************/
}

@media screen and (max-width: 370px) {
	/***************** HOME *******************/
	/***************** BANNER *******************/
	.banner-text {
		--final-bottom-position: 0.75rem;
	}
	/************** End of BANNER ***************/
	/************** End of HOME ***************/

	/***************** ABOUT *******************/
	.about-image {
		height: 80px;
		width: 80px;
		top: -40px;
		right: 15px;
	}
	/************** End of ABOUT ***************/
}
