/***************** IMPORTS *******************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/***************** VARIABLES *******************/
:root {
	/* Colors */
	--black-color-00: #000;
	--gray-color-00: #555;
	--primary-color: #2f2bad;
	--secondary-color: #ad2bad;
	--button-hover-color: #e42692;
	--button-color: #f71568;
	--white-color-00: #fff;
	--white-color-10: #fafdfe;

	/* Linear Gradient */
	--film-lg: linear-gradient(to top, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.45));

	/* Font Family */
	--main-ff: 'Bebas Neue', serif;
	--text-ff: 'Poppins', serif;

	/* Font Weight */
	--light-fw: 300;
	--normal-fw: 400;
	--medium-fw: 500;
	--semibold-fw: 600;
	--bold-fw: 700;

	/* Font Size */
	--sm-fs: 0.875rem;
	--base-fs: 0.975rem;
	--lg-fs: 1.125rem;
	--xl-fs: 1.5rem;
	--xxl-fs: 2.75rem;

	/* Border Radius */
	--light-radius: 0.325rem;
	--normal-radius: 0.575rem;
	--medium-radius: 0.735rem;
	--circle-radius: 50%;

	/* Width */
	--container-mw: 1280px;

	/* Padding */
	--container-pi: 0.785rem;
	--section-pb: 3.75rem;

	/* Transitions */
	--link-tr: 0.35s ease-in-out;
	--button-tr: 0.436s ease-in-out;
	--image-tr: 0.567s ease-out;

	/* Time */
	--banner-animation-time: 5s;
}

/***************** BASE *******************/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	scroll-behavior: smooth;
}

body {
	background-color: var(--black-color-00);
	color: var(--white-color-10);
	font-family: var(--text-ff);
	font-size: var(--base-fs);
	font-weight: var(--normal-fw);
}

:is(h1, h2, h3, h4, h5, h6) {
	font-family: var(--main-ff);
	font-weight: var(--normal-fw);
}

:is(h1, h2) {
	font-size: var(--xxl-fs);
}

:is(h3, h4) {
	font-size: var(--xl-fs);
}

:is(h5, h6) {
	font-size: var(--lg-fs);
}

button,
input,
textarea,
select {
	background-color: transparent;
	border: none;
	outline: none;
}

input::placeholder,
textarea::placeholder {
	color: var(--gray-color-00);
	font-weight: var(--light-fw);
	font-size: var(--base-fs);
}

button,
select {
	cursor: pointer;
	transition: var(--button-tr);
}

a {
	transition: var(--link-tr);
	text-decoration: none;
	color: var(--black-color-00);
}

ul {
	display: flex;
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
}

/***************** REUSABLE *******************/
.container {
	max-width: var(--container-mw);
	padding-inline: var(--container-pi);
	margin: 0 auto;
}

.section {
	padding-block: var(--section-pb);
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo {
	display: flex;
	align-items: center;
}

.logo-image {
	height: 40px;
	margin-right: 0.35rem;
}

.logo-text {
	font-family: var(--main-ff);
	font-size: var(--lg-fs);
}

*.show {
	display: flex;
}

*.hidden {
	display: none;
}

.btn {
	width: fit-content;
	padding: 0.65rem 1.95rem;
	border-radius: var(--light-radius);
	text-transform: capitalize;
	font-size: var(--sm-fs);
	font-weight: var(--medium-fw);
}

.section-header {
	margin-bottom: 3.75rem;
}

.section-title {
	text-align: center;
}

/***************** HOME *******************/
/***************** NAVBAR *******************/
#navbar {
	background-color: transparent;
	position: absolute;
	min-height: 80px;
	width: 100%;
	z-index: 100;
}

.navbar-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	flex-wrap: wrap;
	padding-block: 0.55rem;
	margin-top: 0.65rem;

	border-radius: var(--light-radius);
	transition: background-color 0.5s ease;
}

.navbar-content.change-color {
	background-image: var(--film-lg);
}

.navbar-logo .logo-text {
	color: var(--white-color-00);
}

#toggle-menu {
	color: var(--white-color-10);
	font-size: var(--xl-fs);
}

#toggle-menu i {
	pointer-events: none;
}

#toggle-menu:hover {
	color: var(--white-color-00);
	transform: scale(1.15);
}

.navbar-menu {
	gap: 1.25rem;
	flex: 100%;
	align-items: flex-end;
	flex-direction: column;
	margin-top: 20px;
}

.navbar-link {
	color: var(--white-color-10);
	font-weight: var(--medium-fw);
	font-size: var(--base-fs);
}

.navbar-link:hover {
	color: var(--white-color-00);
}
/************** End of NAVBAR ***************/

/***************** BANNER *******************/
#banner {
	height: calc(100vh);
	width: 100vw;
	position: relative;
}

.banner-content,
.banner-item,
.banner-item::after {
	height: 100%;
	width: 100%;
}

.banner-item {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.banner-item::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background-image: var(--film-lg);
	z-index: 10;
}

.banner-item.fade-banner {
	animation: var(--banner-animation-time) ease-in-out 1 normal forwards
		fade__banner;
}

.banner-image {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	z-index: 0;
}

.banner-text {
	position: absolute;
	z-index: 20;
	transform: translate(-50%, -50%);
	bottom: 3.75rem;
	opacity: 1;
	left: 50%;
	background-image: var(--film-lg);
	padding: 2.35rem 3.75rem;
	padding: 0.75rem 0.95rem;
	max-width: fit-content;
	border-radius: var(--light-radius);
	display: flex;
	flex-direction: column;
	gap: 0.65rem;
}

.banner-text.fade-banner-text {
	animation: 2s ease-in-out 1 normal forwards fade__banner__text;
}

.banner-title,
.banner-subtitle {
	color: var(--white-color-00);
	text-align: center;
}

.banner-title {
	font-size: var(--xxl-fs);
}

.banner-subtitle {
	font-size: var(--lg-fs);
}

.banner-btn {
	background-color: var(--white-color-10);
	opacity: 0.65;
	width: 100%;
	text-align: center;
	margin-top: 2.75rem;
}

.banner-btn:hover {
	background-color: var(--white-color-00);
	opacity: 1;
}

@keyframes fade__banner {
	0% {
		opacity: 0;
	}

	15% {
		opacity: 1;
	}

	75% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes fade__banner__text {
	0% {
		opacity: 0;
		bottom: -2.25rem;
	}

	100% {
		bottom: 3.75rem;
		opacity: 1;
	}
}
/************** End of BANNER ***************/
/************** End of HOME ***************/

/***************** ABOUT *******************/
.about-items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1.35rem;
	row-gap: calc(3.5rem);
}

.about-item {
	background-color: var(--white-color-10);
	position: relative;
	border-radius: var(--light-radius);
	padding: 1.55rem 1.35rem;
	filter: drop-shadow(1px 1px 25px rgba(255, 255, 255, 0.25));
}

.about-image {
	position: absolute;
	height: 90px;
	width: 90px;
	background-color: var(--white-color-10);
	border-radius: var(--circle-radius);
	right: 2rem;
	top: -2.5rem;
	filter: drop-shadow(1px 1px 25px rgba(0, 0, 0, 0.05));
}

.about-image img {
	height: 75%;
}

.about-content {
	color: var(--black-color-00);
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}
/************** End of ABOUT ***************/

/***************** FEATURES *******************/
/* TODO: Create FEATURES style */
/************** End of FEATURES ***************/

/***************** BENEFITS *******************/
/* TODO: Create BENEFITS style */
/************** End of BENEFITS ***************/

/***************** TESTIMONIALS *******************/
/* TODO: Create TESTIMONIALS style */
/************** End of TESTIMONIALS ***************/

/***************** CONTACT *******************/
/* TODO: Create CONTACT style */
/************** End of CONTACT ***************/

/***************** FOOTER *******************/
/* TODO: Create FOOTER style */
/************** End of FOOTER ***************/

/***************** CREDIT AREA *******************/
/* TODO: Create CREDIT AREA style */
/************** End of CREDIT AREA ***************/
